.single-product-page{
  width: 80%;
  margin: auto;
}

.single-product-wrapper{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.single-product-preview-wrapper{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.single-product-preview{
  /* outline: 1px solid red; */
  width: 500px;
  /* height: 750px; */
  outline: 1px solid var(--outline);
  border-radius: 10px;
  margin-top: 1%;
}

.single-product-description-wrapper{
  /* outline: 1px solid red; */
  width: 30%;
  margin-top: 5%;
}

.single-product-description-wrapper > * {
  margin-top: 10%;
}

.single-product-color-images{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.single-product-color-wrapper a{
  width: 15%;
  min-width: 50px;
  /* outline: 1px solid red; */
}

.single-product-color-wrapper img{
  width: 100%;
  /* outline: 1px solid red; */
}

.current{
  outline: 1px solid black;
  border-radius: 10px;
}

.not-current{
  outline: 1px solid var(--outline);
  border-radius: 10px;
}

.single-product-size-wrapper{
  display: flex;
  gap: 15px;
}

.single-product-color-images{
  margin-top: 10px;
}

.single-product-size-wrapper{
  display: flex;
  gap: 15px;
}

.single-product-size-wrapper > * {
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.add-to-cart-button{
  display: flex;
  gap: 1%;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #222222;
  color: white;
  font-size: 1.25em;
  padding: 2.5%;
  border-radius: 10px;
  cursor: pointer;
}

.add-to-cart-button > *{
  color: white;
  font-size: 1.25em;
}