.cart-page{
  /* outline: 1px solid red; */
  /* background-color: white; */
  
  width: 75%;
  margin:auto;
  margin-top: 3%;
}

.cart-page-main{
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}

.cart-page-items{
  width:70%;
}

.cart-page-sidebar{
  width: 30%;
  margin-top: 2%;
}

.cart-total-details{
  outline: 1px solid var(--outline);
  border-radius: 10px;
  background-color: white;
  padding: 4% 0;
}

.cart-total-detail{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

hr{
  /* border: 1px solid black; */
  width: 90%;
  margin: auto;
  color: black;
}

.cart-checkout-button{
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1em;
  height: 3em;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}