a {
  text-decoration: none;
}

.navbar{
  /* background-color: #FAF9F8; */
}

.navbar-header{
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-top: 1em;
}

.navbar-title{
  color: blue;
  font-size: 3em;
}

.navbar-auth{
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-shopping-cart{
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.navbar-login-button{
  font-size: 1.5em;
  color: white;
  background-color: black;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-signup-button{
  font-size: 1.5em;
  padding: 3px 10px;
  outline: solid black 1px;
  border-radius: 5px;
}

.navbar-product-categories{
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  justify-content:space-around;
  font-size: 1.25em;
}

.navbar-product-catergories-wrapper{
  border-top: 0.5px solid #CFCFCF;
  background-color: #F4F3F1;
  margin-top: 0.5em;
}