.product{
  outline: solid 1px red;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  text-align: center;
}

.product img{
  /* width: 300px; */
  height: 400px;
}

.products-wrapper{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 20px;
  width: 70%;
  margin-left: 30%;
}